<% layout("/layouts/boilerplate") %>
<h1>Register Form</h1>
<form action="/users/register" method="post" novalidate class="validated-form">
  <div class="mb-3">
    <label for="title" class="form-label">Email</label>
    <input type="text" id="email" name="email" class="form-control" required />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <button class="btn btn-success">Register</button>
  </div>
</form>
